.paper {
    margin: 20px 20%;
    border: 1px solid gainsboro;
    padding: 20px;
    font-size: 13px;
}

Input {
    width: 50px;
}

.quiz {
    margin: 10px;
}

.quiz p {
    padding: 7px;
}

.ant-input {
    width: 40%;
    margin-left: 13px;
}

.editable-add-btn {

    margin-top: 40px;
    margin-left: 50%;
}